/.idea/codeStyles/codeStyleConfig.xml
/.idea/codeStyles/Project.xml
/.idea/checkstyle-idea.xml
/.idea/compiler.xml
/.idea/dbnavigator.xml
/.idea/jarRepositories.xml
/.idea/misc.xml
/.idea/sbt.xml
/.idea/vcs.xml
/.idea/workspace.xml
/neural.iml
/target/classes/application/neurolevels/Neuron.class
/target/classes/application/neurolevels/NeuronLevel$1.class
/target/classes/application/neurolevels/NeuronLevel.class
/target/classes/application/neurolevels/NeuronWorker.class
/target/classes/application/repository/entity/Weight.class
/target/classes/application/repository/WeightRepository.class
/target/classes/application/utils/Utils.class
/target/classes/application/NeuralApplication.class
/target/classes/application.properties
/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/target/surefire-reports/application.ZeroLevelTest.txt
/target/surefire-reports/TEST-application.ZeroLevelTest.xml
/target/test-classes/application/AITest.class
/target/test-classes/application-test.properties
/target/test-classes/schema.sql
/.idea/encodings.xml
/.idea/uiDesigner.xml
