/.idea/codeStyles/codeStyleConfig.xml
/.idea/codeStyles/Project.xml
/.idea/checkstyle-idea.xml
/.idea/compiler.xml
/.idea/dbnavigator.xml
/.idea/jarRepositories.xml
/.idea/misc.xml
/.idea/sbt.xml
/.idea/vcs.xml
/.idea/workspace.xml
/neural.iml
